<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO Login webpage</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <main>
        <header>
            <h1>เข้าสู่ระบบ</h1>
        </header>
        <form action="" class="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="submit">
        </form>
        <a href="{{url_for('tasklist')}}">Create a new task</a>
    </main>
</body>
</html>
