<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks webpage</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <main>
        <header>
            <h1>My Tasks</h1>
        </header>
        <ul id="task-list">{%for t in mytasks%}<li>{{t.text}}</li>{% endfor %}</ul> 
        <form action="" class="add-task-form">
            <label for="new-task">New task name</label>
            <input type="text" name="new-task" id="new-task">
            <input type="submit" value="Add task">
        </form>
        <p id ="task-count">เหลืออีก 0 งาน</p>
    </main>
</body>

</html>